.review-swiper {
    width: 100%;
    height: 200px; /* 이미지 높이와 동일하게 200px로 수정 */
    margin: 15px; /* 상단, 좌우, 하단 여백 추가 */
}

.review-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-swiper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.swiper-button-next, .swiper-button-prev {
    color: #000; /* 원하는 색상으로 변경하세요 */
}

.swiper-pagination-bullet-active {
    background: #000; /* 원하는 색상으로 변경하세요 */
}
